@font-face {
    font-family: "Museo";
    font-style: normal;
    font-weight: 300;
    src: url('https://rawcdn.githack.com/galih977/museo/8c0065aae828c94687ff7379598659d0c5ef9211/museo300-regular.otf');
}
